<!DOCTYPE html>
<html lang="en">
	<head>
		<title>King Classic: Add Player</title>
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
    <h2>Add Player</h2>
    <form action='/add_player' method='POST' id='submitform'>
    First name:<br>
    <input type="text" name="first_name"><br><br>
    Last name:<br>
    <input type="text" name="last_name"><br><br>
		Handicap:<br>
		<input type="text" name="hdcp"><br><br>
		In skins?:
    <select name="in_skins">
      <option value="True">Yes</option>
      <option value="False">No</option>
    </select><br><br>
    <input type='submit' value="Submit"/>
    </form>
		<h4>{{msg|safe}}</h4>
    <h4><a href="{{ url_for('index') }}">Home</a></h4>
  </body>
</html>
