<!DOCTYPE html>
<html lang="en">
	<head>
		<title>King Classic: Enter Scores</title>
		<meta charset="UTF-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
    <h2>Enter Scores</h2>
    <form action='/enter_scores' method='POST' id='submitform'>
      Course:<br>
      <select name="course">
				<option selected value="None" readonly="readonly">-- select course --</option>
        <option value="Talking Stick - O'odham">Talking Stick - O'odham</option>
        <option value="Talking Stick - Piipaash">Talking Stick - Piipaash</option>
        <option value="Wildfire - Palmer">Wildfire - Palmer</option>
        <option value="Wildfire - Faldo">Wildfire - Faldo</option>
        <option value="Whirlwind - Devil's Claw">Whirlwind - Devil's Claw</option>
        <option value="Whirlwind - Cattail">Whirlwind - Cattail</option>
      </select><br><br>

      Hole:<br>
      <select name="hole" method="GET" action="/">
	      {% for hole in holes %}
	      <option value= "{{hole}}" SELECTED>{{hole}}</option>"
	      {% endfor %}
				<option selected value="0" readonly="readonly">-- select hole --</option>
      </select><br><br>

      Player 1:
      <select name="player1" method="GET" action="/">
				{% for player in players %}
        <option value= "{{player}}" SELECTED>{{player}}</option>"
        {% endfor %}
				<option selected value="None" readonly="readonly">-- select player --</option>
      </select>

      Score:
      <select name="score1" method="GET" action="/">
				{% for score in scores %}
        <option value= "{{score}}" SELECTED>{{score}}</option>"
        {% endfor %}
				<option selected value="None" readonly="readonly">-- select score --</option>
      </select><br><br>

      Player 2:
      <select name="player2" method="GET" action="/">
        {% for player in players %}
        <option value= "{{player}}" SELECTED>{{player}}</option>"
        {% endfor %}
				<option selected value="None" readonly="readonly">-- select player --</option>
      </select>

      Score:
      <select name="score2" method="GET" action="/">
        {% for score in scores %}
        <option value= "{{score}}" SELECTED>{{score}}</option>"
        {% endfor %}
				<option selected value="None" readonly="readonly">-- select score --</option>
      </select><br><br>

      Player 3:
      <select name="player3" method="GET" action="/">
        {% for player in players %}
        <option value= "{{player}}" SELECTED>{{player}}</option>"
        {% endfor %}
				<option selected value="None" readonly="readonly">-- select player --</option>
      </select>

      Score:
      <select name="score3" method="GET" action="/">
        {% for score in scores %}
        <option value= "{{score}}" SELECTED>{{score}}</option>"
        {% endfor %}
				<option selected value="None" readonly="readonly">-- select score --</option>
      </select><br><br>

      Player 4:
      <select name="player4" method="GET" action="/">
        {% for player in players %}
        <option value= "{{player}}" SELECTED>{{player}}</option>"
        {% endfor %}
				<option selected value="None" readonly="readonly">-- select player --</option>
      </select>

      Score:
      <select name="score4" method="GET" action="/">
        {% for score in scores %}
        <option value= "{{score}}" SELECTED>{{score}}</option>"
        {% endfor %}
				<option selected value="None" readonly="readonly">-- select score --</option>
      </select><br><br>

      <input type='submit' value="Submit"/>
    </form>
		<h4>{{msg|safe}}</h4>
		<h4>{{course|safe}}</h4>
		<p>{{scorecard_df|safe}}</p>
    <h4><a href="{{ url_for('index') }}">Home</a></h4>
    <h6>&copy; 2018 Stuart King</h6>
  </body>
</html>
