<!DOCTYPE html>
<html lang="en">
	<head>
		<title>King Classic: Enter Scores</title>
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
    <h2>Enter Scores</h2>
    <form action='/enter_scores' method='POST' id='submitform'>
      Course:<br>
      <select name="course">
				<option selected value="None" readonly="readonly">-- select course --</option>
        <option value="Talking Stick - Piipaash">Talking Stick - Piipaash</option>
        <option value="Talking Stick - O'odham">Talking Stick - O'odham</option>
        <option value="Wildfire - Faldo">Wildfire - Faldo</option>
        <option value="Wildfire - Palmer">Wildfire - Palmer</option>
        <option value="Whirlwind - Devil's Claw">Whirlwind - Devil's Claw</option>
        <option value="Whirlwind - Cattail">Whirlwind - Cattail</option>
      </select><br><br>

      Hole:<br>
      <select name="hole" method="GET" action="/">
				<option selected value="0" readonly="readonly">-- select hole --</option>
				{% for hole in holes %}
	      <option value="{{hole}}">{{hole}}</option>"
	      {% endfor %}
      </select>

			<br><br>

			<table>
        <tr>
					<td colspan='2'><b>Player 1</b></td>
        </tr>
				<tr>
	        <td>Name:</td>
	        <td>
						<select name="player1" method="GET" action="/">
							<option selected value="None" readonly="readonly">-- select player --</option>
							{% for player in players %}
			        <option value="{{player}}">{{player}}</option>"
			        {% endfor %}
			      </select>
	          <!-- <input type="text" value="@Model.Mem_ResAdd1" name="Mem_ResAdd1" /> -->
	        </td>
				</tr>
				<tr>
	        <td>Score:</td>
	        <td>
						<select name="score1" method="GET" action="/">
							<option selected value="None" readonly="readonly">-- select score --</option>
							{% for score in scores %}
			        <option value="{{score}}">{{score}}</option>"
			        {% endfor %}
			      </select>
	          <!-- <input type="text" value="@Model.Mem_ResAdd1" name="Mem_ResAdd1" /> -->
	        </td>
        </tr>
			</table>

			<br>

			<table>
        <tr>
					<td colspan='2'> <b>Player 2</b></td>
        </tr>
				<tr>
	        <td>Name:</td>
	        <td>
						<select name="player2" method="GET" action="/">
							<option selected value="None" readonly="readonly">-- select player --</option>
							{% for player in players %}
			        <option value="{{player}}">{{player}}</option>"
			        {% endfor %}
			      </select>
	          <!-- <input type="text" value="@Model.Mem_ResAdd1" name="Mem_ResAdd1" /> -->
	        </td>
				</tr>
				<tr>
	        <td>Score:</td>
	        <td>
						<select name="score2" method="GET" action="/">
							<option selected value="None" readonly="readonly">-- select score --</option>
							{% for score in scores %}
			        <option value="{{score}}">{{score}}</option>"
			        {% endfor %}
			      </select>
	          <!-- <input type="text" value="@Model.Mem_ResAdd1" name="Mem_ResAdd1" /> -->
	        </td>
        </tr>
			</table>

			<br>

			<table>
				<tr>
					<td colspan='2'><b>Player 3</b></td>
				</tr>
				<tr>
					<td>Name:</td>
					<td>
						<select name="player3" method="GET" action="/">
							<option selected value="None" readonly="readonly">-- select player --</option>
							{% for player in players %}
							<option value="{{player}}">{{player}}</option>"
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Score:</td>
					<td>
						<select name="score3" method="GET" action="/">
							<option selected value="None" readonly="readonly">-- select score --</option>
							{% for score in scores %}
							<option value="{{score}}">{{score}}</option>"
							{% endfor %}
						</select>
					</td>
				</tr>
			</table>

			<br>

			<table>
				<tr>
					<td colspan='2'> <b>Player 4</b></td>
				</tr>
				<tr>
					<td>Name:</td>
					<td>
						<select name="player4" method="GET" action="/">
							<option selected value="None" readonly="readonly">-- select player --</option>
							{% for player in players %}
							<option value="{{player}}">{{player}}</option>"
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Score:</td>
					<td>
						<select name="score4" method="GET" action="/">
							<option selected value="None" readonly="readonly">-- select score --</option>
							{% for score in scores %}
							<option value="{{score}}">{{score}}</option>"
							{% endfor %}
						</select>
					</td>
				</tr>
			</table>

			<br>

      <input type='submit' value="Submit"/>
    </form>
		<h4>{{msg|safe}}</h4>
		<h4>{{course|safe}}</h4>
		<p>{{scorecard_df|safe}}</p>
    <h4><a href="{{ url_for('index') }}">Home</a></h4>
  </body>
</html>
