<!DOCTYPE html>
<html lang="en">
	<head>
		<title>King Classic: Info</title>
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>

  <body>
    <h2>General Information</h2>
    <p><a href="#payment">Payment</a></p>
    <p><a href="#lodging">Lodging</a></p>
		<p><a href="#food">Food</a></p>
    <p><a href="#rules">Rules & Format</a></p>
    <p><a href="#golf">Courses, Pairings, & Tee Times</a></p>
    <p><a href="#sidegames">Side Games</a></p>
    <p><a href="#teams">Teams</a></p>
		<p><a href="{{ url_for('index') }}">Home</a></p>
    <br>
    <section id="payment">
      <h4>Payment</h4>
			<div class="boxed">
				<p>The full cost of the trip must be paid 30 days in advance. Please be sure you have settled your invoice with <a href="https://golfpactravel.com/account/login" target="_blank">GolfPac Travel</a> before then. If you need any help, feel free to reach out to Ross LeDuc (rossl@golfpactravel.com) for assistance.</p>
			</div>
    </section>
		<br>
		<a href="#">Back to top</a>
    <br>
		<br>
    <section id="lodging">
      <h4>Lodging</h4>
			<div class="boxed">
				<p>We are staying at the <a href="https://scottsdale.house.hyatt.com/en/hotel/home.html" target="_blank">Hyatt House</a> in Old Town Scottsdale, which is approximately 20 minutes from the Phoenix Sky Harbor airport. We will have four 4-person suites, each suite consisting of two rooms with two double beds in each, two bathrooms, and a common area. The suite assignments are as follows:</p>
			</div>
			<br>
			<div>
				<table>
					<tr>
						<th>Suite 1</th>
						<th>Suite 2</th>
						<th>Suite 3</th>
						<th>Suite 4</th>
					</tr>
					<tr>
						<td>Pete Nash</td>
						<td>Alex King</td>
						<td>Chris Marsh</td>
						<td>Ryan Veness</td>
					</tr>
					<tr>
						<td>Ben Donahue</td>
						<td>Bobby Jovanov</td>
						<td>Rob Matiko</td>
						<td>Jeff Veness</td>
					</tr>
					<tr>
						<td>Mathias Jackson</td>
						<td>Josh Duckett</td>
						<td>Zach Taylor</td>
						<td>Jerry King</td>
					</tr>
					<tr>
						<td>Justin Casson</td>
						<td>Andy Tapper</td>
						<td>Stuart King</td>
						<td>Reggie Sherrill</td>
					</tr>
				</table>
			</div>
    </section>
		<br>
		<a href="#">Back to top</a>
    <br>
		<br>
		<section id="food">
			<h4>Food</h4>
			<div class="boxed">
				<p>Breakfast is included with our lodging. We're not sure how good it will be, but it's "free"! We'll get lunch at the course as a group after each round.</p>
				<p>For dinners, we're planning on the following three restaurants.</p>
				<p>Wednesday: <a href="https://thevig.us/the-vig-mccormick-ranch/" target="_blank">The Vig</a></p>
	      <p>Thursday: <a href="https://www.culinarydropout.com/locations/scottsdale-az/" target="_blank">Culinary Dropout</a></p>
	      <p>Friday: <a href="http://teepeemexicanfood.com/" target="_blank">TeePee Mexican</a></p>
			</div>
		</section>
		<br>
		<a href="#">Back to top</a>
    <br>
		<br>
    <section id="rules">
      <h4>Rules & Format</h4>
			<div class="boxed">
	      <p>The highest score you can card is +5 on a hole. Putt everything out, and play everything as a lateral, including hazards marked as OB. You are permitted to bump the ball from a divot in the fairway, but play everything else down.</p>
	      <p>You must play all six rounds to be eligible to win the King Classic and have your name on the trophy. The winner will have the lowest <b>net score</b> over six rounds.</p>
				<p>Initial handicaps must be verified, but do not need to be official. There are several free apps that will calculate a handicap for you. <a href="https://www.thegrint.com/" target="_blank">The Grint</a> and <a href="https://www.swingbyswing.com/" target="_blank">Swing by Swing</a> are a few good ones. Please submit a screenshot of your handicap by May 1st.</p>
				<p>During the trip, if you better your handicap by four or more on any two consecutive rounds, your handicap will be adjusted down by two. For example, if your handicap is 12 and you shoot 80 or better two times in a row, your handicap will adjusted to 10. Similarly, if you miss your handicap by eight or more on two consecutive rounds, your handicap will be adjusted up by two. For example, if your handicap is 12 and you shoot 92 or worse two times in a row, your handicap will be adjusted to 14. You can check what your handicap will be before each round <a href="{{ url_for('handicaps') }}">here</a>.</p>
			</div>
    </section>
		<br>
		<a href="#">Back to top</a>
		<br>
		<br>
    <section id="golf">
      <p><b>Courses, Pairings, & Tee Times</b></p>
			<p><a href="#d1r1">Wednesday, Round 1</a></p>
			<p><a href="#d1r2">Wednesday, Round 2</a></p>
			<p><a href="#d2r1">Thursday, Round 1</a></p>
			<p><a href="#d2r2">Thursday, Round 2</a></p>
			<p><a href="#d3r1">Friday, Round 1</a></p>
			<p><a href="#d3r2">Friday, Round 2</a></p>
			<br>
			<section id="d1r1">
	      <p><b>Talking Stick Golf Club - Piipaash Course</b></p>
	      <p>Wednesday, May 16</p>
	      <p>Under 50: Black Tees</p>
	      <p>Over 50 or 15+ Hdcp: Gold Tees</p>
	      <p>Closest to the Pin: Hole #13</p>
			</section>
			<div>
				<table>
					<tr>
						<th>Group 1</th>
						<th>Group 2</td>
						<th>Group 3</td>
						<th>Group 4</td>
					</tr>
					<tr>
						<td>Tee time: 7:30 AM</td>
						<td>Tee time: 7:39 AM</td>
						<td>Tee time: 7:48 AM</td>
						<td>Tee time: 7:57 AM</td>
					</tr>
					<tr>
						<td>Jeff Veness</td>
						<td>Rob Matiko</td>
						<td>Pete Nash</td>
						<td>Bobby Jovanov</td>
					</tr>
					<tr>
						<td>Ryan Veness</td>
						<td>Chris Marsh</td>
						<td>Ben Donahue</td>
						<td>Andy Tapper</td>
					</tr>
					<tr>
						<td>Stuart King</td>
						<td>Zach Taylor</td>
						<td>Mathias Jackson</td>
						<td>Alex King</td>
					</tr>
					<tr>
						<td>Jerry King</td>
						<td>Reggie Sherrill</td>
						<td>Justin Casson</td>
						<td>Josh Duckett</td>
					</tr>
				</table>
			</div>
			<br>
			<a href="#golf">Back</a>
			<br>
			<br>
			<section id="d1r2">
				<p><b>Talking Stick Golf Club - O'odham Course</b></p>
	      <p>Wednesday, May 16</p>
	      <p>Under 50: Black Tees</p>
	      <p>Over 50 or 15+ Hdcp: Gold Tees</p>
	      <p>Closest to the Pin: Hole #16</p>
			</section>
			<div>
				<table>
					<tr>
						<th>Group 1</th>
						<th>Group 2</td>
						<th>Group 3</td>
						<th>Group 4</td>
					</tr>
					<tr>
						<td>Tee time: 1:52 PM</td>
						<td>Tee time: 2:01 PM</td>
						<td>Tee time: 2:10 PM</td>
						<td>Tee time: 2:19 PM</td>
					</tr>
					<tr>
						<td>Ryan Veness</td>
						<td>Stuart King</td>
						<td>Justin Casson</td>
						<td>Mathias Jackson</td>
					</tr>
					<tr>
						<td>Pete Nash</td>
						<td>Bobby Jovanov</td>
						<td>Andy Tapper</td>
						<td>Josh Duckett</td>
					</tr>
					<tr>
						<td>Reggie Sherrill</td>
						<td>Ben Donahue</td>
						<td>Chris Marsh</td>
						<td>Jeff Veness</td>
					</tr>
					<tr>
						<td>Alex King</td>
						<td>Zach Taylor</td>
						<td>Jerry King</td>
						<td>Rob Matiko</td>
					</tr>
				</table>
			</div>
			<br>
			<a href="#golf">Back</a>
			<br>
			<br>
			<section id="d2r1">
				<p><b>Wildfire Golf Club - Faldo Championship Course</b></p>
	      <p>Thursday, May 17</p>
	      <p>Under 50: Tournament Tees</p>
	      <p>Over 50 or 15+ Hdcp: Championship Tees</p>
	      <p>Closest to the Pin: Hole #3</p>
			</section>
			<div>
				<table>
					<tr>
						<th>Group 1</th>
						<th>Group 2</td>
						<th>Group 3</td>
						<th>Group 4</td>
					</tr>
					<tr>
						<td>Tee time: 7:25 AM</td>
						<td>Tee time: 7:34 AM</td>
						<td>Tee time: 7:43 AM</td>
						<td>Tee time: 7:52 AM</td>
					</tr>
					<tr>
						<td>Mathias Jackson</td>
						<td>Ben Donahue</td>
						<td>Zach Taylor</td>
						<td>Jeff Veness</td>
					</tr>
					<tr>
						<td>Stuart King</td>
						<td>Pete Nash</td>
						<td>Rob Matiko</td>
						<td>Ryan Veness</td>
					</tr>
					<tr>
						<td>Alex King</td>
						<td>Justin Casson</td>
						<td>Josh Duckett</td>
						<td>Chris Marsh</td>
					</tr>
					<tr>
						<td>Jerry King</td>
						<td>Andy Tapper</td>
						<td>Reggie Sherrill</td>
						<td>Bobby Jovanov</td>
					</tr>
				</table>
			</div>
			<br>
			<a href="#golf">Back</a>
			<br>
			<br>
			<section id="d2r2">
				<p><b>Wildfire Golf Club - Palmer Signature Course</b></p>
	      <p>Thursday, May 17</p>
	      <p>Under 50: Tournament Tees</p>
	      <p>Over 50 or 15+ Hdcp: Championship Tees</p>
	      <p>Closest to the Pin: Hole #13</p>
			</section>
			<div>
				<table>
					<tr>
						<th>Group 1</th>
						<th>Group 2</td>
						<th>Group 3</td>
						<th>Group 4</td>
					</tr>
					<tr>
						<td>Tee time: 1:00 PM</td>
						<td>Tee time: 1:09 PM</td>
						<td>Tee time: 1:18 PM</td>
						<td>Tee time: 1:27 PM</td>
					</tr>
					<tr>
						<td>Stuart King</td>
						<td>Ben Donahue</td>
						<td>Rob Matiko</td>
						<td>Andy Tapper</td>
					</tr>
					<tr>
						<td>Justin Casson</td>
						<td>Josh Duckett</td>
						<td>Bobby Jovanov</td>
						<td>Chris Marsh</td>
					</tr>
					<tr>
						<td>Ryan Veness</td>
						<td>Mathias Jackson</td>
						<td>Jerry King</td>
						<td>Zach Taylor</td>
					</tr>
					<tr>
						<td>Reggie Sherrill</td>
						<td>Pete Nash</td>
						<td>Jeff Veness</td>
						<td>Alex King</td>
					</tr>
				</table>
			</div>
			<br>
			<a href="#golf">Back</a>
			<br>
			<br>
			<section id="d3r1">
	      <p><b>Whirlwind Golf Club - Devil's Claw Course</b></p>
	      <p>Friday, May 18</p>
	      <p>Under 50: Black Tees</p>
	      <p>Over 50 or 15+ Hdcp: Gold Tees</p>
	      <p>Closest to the Pint: Hole #14</p>
			</section>
			<div>
				<table>
					<tr>
						<th>Group 1</th>
						<th>Group 2</td>
						<th>Group 3</td>
						<th>Group 4</td>
					</tr>
					<tr>
						<td>Tee time: 7:30 AM</td>
						<td>Tee time: 7:39 AM</td>
						<td>Tee time: 7:48 AM</td>
						<td>Tee time: 7:57 AM</td>
					</tr>
					<tr>
						<td>Alex King</td>
						<td>Jeff Veness</td>
						<td>Ben Donahue</td>
						<td>Bobby Jovanov</td>
					</tr>
					<tr>
						<td>Stuart King</td>
						<td>Ryan Veness</td>
						<td>Justin Casson</td>
						<td>Andy Tapper</td>
					</tr>
					<tr>
						<td>Jerry King</td>
						<td>Pete Nash</td>
						<td>Rob Matiko</td>
						<td>Chris Marsh</td>
					</tr>
					<tr>
						<td>Reggie Sherrill</td>
						<td>Mathias Jackson</td>
						<td>Zach Taylor</td>
						<td>Josh Duckett</td>
					</tr>
				</table>
			</div>
			<br>
			<a href="#golf">Back</a>
			<br>
			<br>
			<section id="d3r2">
	      <p><b>Whirlwind Golf Club - Cattail Course</b></p>
	      <p>Friday, May 18</p>
	      <p>Under 50: Gold Tees</p>
	      <p>Over 50 or 15+ Hdcp: Silver Tees</p>
	      <p>Closest to the Pin: Hole #6</p>
			</section>
			<div>
				<table>
					<tr>
						<th>Group 1</th>
						<th>Group 2</td>
						<th>Group 3</td>
						<th>Group 4</td>
					</tr>
					<tr>
						<td>Tee time: 1:33 PM</td>
						<td>Tee time: 1:42 PM</td>
						<td>Tee time: 1:51 PM</td>
						<td>Tee time: 2:00 PM</td>
					</tr>
					<tr>
						<td>Zach Taylor</td>
						<td>Stuart King</td>
						<td>Jeff Veness</td>
						<td>Ryan Veness</td>
					</tr>
					<tr>
						<td>Justin Casson</td>
						<td>Ben Donahue</td>
						<td>Chris Marsh</td>
						<td>Bobby Jovanov</td>
					</tr>
					<tr>
						<td>Jerry King</td>
						<td>Mathias Jackson</td>
						<td>Andy Tapper</td>
						<td>Reggie Sherrill</td>
					</tr>
					<tr>
						<td>Alex King</td>
						<td>Pete Nash</td>
						<td>Rob Matiko</td>
						<td>Josh Duckett</td>
					</tr>
				</table>
			</div>
    </section>
		<br>
		<a href="#">Back to top</a>
		<br>
		<br>
    <section id="sidegames">
      <h4>Side Games</h4>
			<div class="boxed">
	      <p>You have the opportunity to join <b>skins</b> and <b>closest to the pin</b>. Skins are based on net low score, and are $5 per round and then split among the participants based on the number of skins won. Please note that if your handicap is greater than 18, for the skins game (and only for the skins game) your handicap will be adjusted to 18. Closest to the pin is $2.50 per round, and the hole has been pre-selected and identified above. Skins and closet to the pin are a combo deal, and will need to paid for before the start of the trip.</p>
	      <p>There is no obligation to be in the side games, but if you are joining, Alex is the bank, so settle up with him. The total for 6 rounds is $45 ($5 x 6 = $30; $2.50 x 6 = $15; $30 + $15 = $45). If you don't already have it, download and install <a href="https://venmo.com/" target="_blank">Venmo</a> on your phone to make money exchange quick and easy. If you don't use Venmo, please bring cash and pay Alex before play begins. He will settle up with you in the same manner that you use to buy in (i.e. Venmo or cash).</p>
			</div>
    </section>
		<br>
		<a href="#">Back to top</a>
		<br>
		<br>
    <section id="teams">
      <h4>Teams</h4>
			<div class="boxed">
	      <p>Each round an individual player will put in $10. At the beginning of each round, all 16 players will draw a number from a hat to see who their partner is. The top three two-man teams with the lowest <b>net</b> combined score will win the cash prizes accordingly:</p>
	      <p>First place: $80</p>
	      <p>Second place: $50</p>
	      <p>Third place: $30</p>
				<p>The last place team will be subjected to wearing hats of shame for the next round.</p>
			</div>
    </section>
		<br>
		<a href="#">Back to top</a>
		<br>
		<h4><a href="{{ url_for('index') }}">Home</a></h4>
  </body>
</html>
