<!DOCTYPE html>
<html lang="en">
	<head>
		<title>King Classic: Info</title>
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>

  <body>
    <h2>General Information</h2>
    <br>
    <h4>Contents</h4>
    <ul>
      <li><a href="#payment">Payment</a></li>
      <li><a href="#lodging">Lodging</a></li>
      <li><a href="#rules">Rules & Format</a></li>
      <li><a href="#golf">Courses, Pairings, & Tee Times</a></li>
      <li><a href="#games">Side Games</a></li>
      <li><a href="#teams">Teams</a></li>
    </ul>
    <br><br>
    <section id="payment">
      <h4>Payment</h4>
      <p>The full cost of the trip must be paid 30 days in advance. Please be sure you have settled your invoice with <a href="https://golfpactravel.com/account/login" target="_blank">GolfPac Travel</a> before then.</p>
    </section>
    <br>
    <section id="lodging">
      <h4>Lodging</h4>
      <p>We are staying at the <a href="https://scottsdale.house.hyatt.com/en/hotel/home.html" target="_blank">Hyatt House</a> in Old Town Scottsdale, which is approximately 20 minutes from the Phoenix Sky Harbor airport. We will have four 4-person suites, each suite consisting of two rooms with two double beds in each, two bathrooms, and a common area. The suite assignments are as follows:</p>
      <br>
      <h5>Suite 1</h5>
      <ul>
        <li>Pete Nash</li>
        <li>Ben Donahue</li>
        <li>Mathias Jackson</li>
        <li>Stuart King</li>
      </ul>
      <h5>Suite 2</h5>
      <ul>
        <li>Alex King</li>
        <li>Bobby Jovanov</li>
        <li>Josh Duckett</li>
        <li>Andy Tapper</li>
      </ul>
      <h5>Suite 3</h5>
      <ul>
        <li>Chris Marsh</li>
        <li>Zach Taylor</li>
        <li>Chet Cheek</li>
        <li>Justin Casson</li>
      </ul>
      <h5>Suite 4</h5>
      <ul>
        <li>Ryan Veness</li>
        <li>Jeff Veness</li>
        <li>Jerry King</li>
        <li>Reggie Sherrill</li>
      </ul>
    </section>
    <br>
    <section id="rules">
      <h4>Rules & Format</h4>
      <p>Highest score you can card is +5 on a hole. Everything outside of the leather must be putted. Play everything as a lateral, including hazards marked as OB. You are permitted to bump the ball from a divot in the fairway, but play everything else down.</p>
      <br>
      <p>You must play all six rounds to be eligible to win the King Classic and have your name on the trophy. Winner will have the lowest <b>net score</b> over six rounds.</p>
    </section>
    <br>
    <section id="golf">
      <h4>Courses, Pairings, & Tee Times</h4>
      <br>
      <h5>Talking Stick Golf Club - O'odham Course</h5>
      <p>Wednesday, May 16</p>
      <p>Under 50: Black Tees</p>
      <p>Over 50: Gold Tees</p>
      <p>Closest to the Pin: Hole #16</p>
      <br>
      <h5>Group 1</h5>
      <h5>Tee time: 7:30 AM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 2</h5>
      <h5>Tee time: 7:42 AM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 3</h5>
      <h5>Tee time: 7:54 AM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 4</h5>
      <h5>Tee time: 8:06 AM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <br>
      <h5>Talking Stick Golf Club - Piipaash Course</h5>
      <p>Wednesday, May 16</p>
      <p>Under 50: Black Tees</p>
      <p>Over 50: Gold Tees</p>
      <p>Closest to the Pin: Hole #13</p>
      <br>
      <h5>Group 1</h5>
      <h5>Tee time: 1:30 PM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 2</h5>
      <h5>Tee time: 1:42 PM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 3</h5>
      <h5>Tee time: 1:54 PM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 4</h5>
      <h5>Tee time: 2:06 PM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <br>
      <h5>Wildfire Golf Club - Palmer Signature Course</h5>
      <p>Thursday, May 17</p>
      <p>Under 50: Tournament Tees</p>
      <p>Over 50: Championship Tees</p>
      <p>Closest to the Pin: Hole #13</p>
      <br>
      <h5>Group 1</h5>
      <h5>Tee time: 7:30 AM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 2</h5>
      <h5>Tee time: 7:42 AM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 3</h5>
      <h5>Tee time: 7:54 AM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 4</h5>
      <h5>Tee time: 8:06 AM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <br>
      <h5>Wildfire Golf Club - Faldo Championship Course</h5>
      <p>Thursday, May 17</p>
      <p>Under 50: </p>
      <p>Over 50: </p>
      <p>Closest to the Pin: Hole #3</p>
      <br>
      <h5>Group 1</h5>
      <h5>Tee time: 1:00 PM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 2</h5>
      <h5>Tee time: 1:12 PM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 3</h5>
      <h5>Tee time: 1:24 PM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 4</h5>
      <h5>Tee time: 1:36 PM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <br>
      <h5>Whirlwind Golf Club - Devil's Claw</h5>
      <p>Friday, May 18</p>
      <p>Under 50: Black Tees</p>
      <p>Over 50: Gold Tees</p>
      <p>Closest to the Pint: Hole #14</p>
      <br>
      <h5>Group 1</h5>
      <h5>Tee time: 7:30 AM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 2</h5>
      <h5>Tee time: 7:42 AM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 3</h5>
      <h5>Tee time: 7:54 AM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 4</h5>
      <h5>Tee time: 8:06 AM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <br>
      <h5>Whirlwind Golf Club - Cattail Course</h5>
      <p>Friday, May 18</p>
      <p>Under 50: Gold Tees</p>
      <p>Over 50: Silver Tees</p>
      <p>Closest to the Pin: Hole #6</p>
      <br>
      <h5>Group 1</h5>
      <h5>Tee time: 1:00 PM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 2</h5>
      <h5>Tee time: 1:12 PM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 3</h5>
      <h5>Tee time: 1:24 PM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Group 4</h5>
      <h5>Tee time: 1:36 PM</h5>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </section>
    <br>
    <section id="sidegames">
      <h4>Side Games</h4>
      <p>Opportunity to join a <b>skins game</b> (based on gross low score), which is $5 per round and then split up among the contestant based on number of skins won.</p>
      <br>
      <p><b>Closest to the pin</b> is $5 per round. The hole has been pre-selected and is identified above.</p>
      <br>
      <p>There is no obligation to be in either side game, but if you are joining Alex is the bank, so settle up with him.</p>
    </section>
    <br>
    <section id="teams">
      <h4>Teams</h4>
      <p>Each round an individual player will put in $10. At the beginning of each round all 16 players will draw a number from a hat to see who their partner is. The top three two-man teams with the lowest <b>net</b> combined score will win the cash prize accordingly:</p>
      <ul>
        <li>First place: $80</li>
        <li>Second place: $50</li>
        <li>Third place: $30</li>
      </ul>
    </section>
  </body>
</html>
