<!DOCTYPE html>
<html lang="en">
	<head>
		<title>King Classic</title>
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
    <h2>King Classic 2018</h2>
    <h5>Scottsdale, Arizona &#9679; May 16-18</h5>
		<h4><a href="{{ url_for('general_info') }}">General Information</a></h4>
    <h4><a href="{{ url_for('add_player') }}">Add Player</a></h4>
    <h4><a href="{{ url_for('enter_scores') }}">Enter Scores</a></h4>
    <h4><a href="{{ url_for('leaderboard') }}">Leaderboard</a></h4>
		<h4><a href="{{ url_for('skins') }}">Skins</a></h4>
		<h4><a href="{{ url_for('teams') }}">Teams</a></h4>
		<h4><a href="{{ url_for('handicaps') }}">Handicaps</a></h4>
    <h4><a href="{{ url_for('scorecard') }}">Scorecard</a></h4>
		<h4><a href="https://photos.app.goo.gl/FRfYbniscqTHPF5M2" target="_blank">Photo Album</a></h4>
    <h4><a href="{{ url_for('past_results') }}">Past Results</a></h4>
    <h6>&copy; 2018 Stuart King</h6>
  </body>
</html>
