<!DOCTYPE html>
<html lang="en">
	<head>
		<title>King Classic: Skins</title>
		<meta charset="UTF-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
    <h2>Skins</h2>
    <form action='/skins' method='POST' id='submitform'>
      Select a course:<br>
      <select name="skins_course">
        <option value="Talking Stick - O'odham">Talking Stick - O'odham</option>
        <option value='Talking Stick - Piipaash'>Talking Stick - Piipaash</option>
        <option value="Wildfire - Palmer">Wildfire - Palmer</option>
        <option value="Wildfire - Faldo">Wildfire - Faldo</option>
        <option value="Whirlwind - Devil's Claw">Whirlwind - Devil's Claw</option>
        <option value="Whirlwind - Cattail">Whirlwind - Cattail</option>
      </select>
      <br><br>
      <input type='submit' value="Submit"/>
    </form>
    <p>{{skins_df|safe}}</p>
		<h4>{{error_msg|safe}}</h4>
    <h4><a href="{{ url_for('index') }}">Home</a></h4>
    <h6>&copy; 2018 Stuart King</h6>
  </body>
</html>
